.main-technics {

    padding-top: 40px;
    display: flex;

    &__tab-navigation {

        margin-right: 110px;

    }

    // &__technics {

    //  margin-top: 35px;

    // }

}

@media (max-width: 360px) {

    .main-technics {

        padding-top: 0;

        &__tab-navigation {

            margin-right: 0;
    
        }

        &__technics {

            margin-top: 0;

        }

    }

    

}