.container {

  max-width: vw(1570);
  margin: 0 auto;
  @include media(max-width, 1570px);

}

@media (max-width: 922px) {

  .container {

    max-width: 100%;
    padding: 0 20px;
    overflow: hidden;

  }

}