.showplace-form {

    margin-top: 80px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__label {
        margin-top: 40px;
        width: 200px;
        position: relative;
        padding-left: 75px;
        line-height: 46px;
        vertical-align: center;
        height: 46px;
        font-weight: 700;
    }

    &__input + &__indicator {
        position: absolute;
        top: 0;
        left: 0;
        width: 46px;
        height: 46px;
        background-color: $gray-light;
    }
    
    &__input:checked + &__indicator {
        background-image: url('../icon/tick.png');
        background-repeat: no-repeat;
        background-position: center center;
        
    }
    
    &__input:hover + &__indicator {
        background-color: $gray;
        
    }
    
    &__input:focus + &__indicator {
        background-color: $gray-dark;
        
    }

}

@media (max-width: 960px) {

    .showplace-form {

        padding: 0 100px;
        padding-top: 30px;

    }

}

@media (max-width: 690px) {

    .showplace-form {

        order: 4;
        flex-direction: column;
        padding: 25px 20px;
        margin-top: 20px;
        height: 370px;
        border-bottom: 1px solid $gray;

        &__label {

            margin-top: 0;

        }

    }

}