.form-cart {

    margin-top: 50px;
    padding: 0;
    width: 850px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: transparent;

    &__rent-date {

        position: relative;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        border: none;
        margin-bottom: 69px;

        &::after {

            content: '';
            position: absolute;
            background-image: url('../icon/arrow-right.svg');
            width: 26px;
            height: 8px;
            top: 50%;
            left: 50%;
            transform: translate(-50%);

        }

    }

    &__legend {

        margin-bottom: 28px;

    }

    &__date {

        position: relative;
        width: 387px;
        height: 90px;
        border: 1px solid rgba(134, 134, 134, 0.4);
        background: transparent;
        color: $main;
        font-size: 18px;
        text-transform: uppercase;
        padding-left: 16px;
        padding-bottom: 16px;
        padding-top: 55px;

        &::placeholder {

            color: $main;

        }

        &-wrap  {

            position: relative;

            &::before {

                content: 'Дата начала аренды';
                position: absolute;
                font-size: 14px;
                line-height: 18px;
                color: $third;
                top: 16px;
                left: 16px;

            }

            &::after {

                content: '';
                position: absolute;
                width: 25px;
                height: 27px;
                right: 19px;
                bottom: 19px;
                background-image: url('../icon/calendar.svg');
                z-index: 2;
    
            }

            &--end {

                &::before{

                content: 'Дата окончания аренды';
                
                }

            }

        }

    }

    &__hour-wrap {

        position: absolute;
        right: -220px;
        width: 164px;
        height: 90px;
        display: none;
        border: 1px solid rgba(134, 134, 134, 0.4);

        &::after {

            content: '* Если срок аренды техники не более чем 1 день';
            position: absolute;
            font-size: 14px;
            line-height: 18px;
            width: 189px;
            color: $third;
            letter-spacing: 0.2px;
            bottom: -52px;

        }

        &--active {

            display: flex;

        }

    }

    &__button-plus,
    &__button-minus {

        width: 40px;
        font-size: 24px;
        color: $main;
        border: none;
        background: transparent;
        cursor: pointer;
        outline: none;

        &:hover {

            background: $active;

        }

    }

    &__button-plus[disabled],
    &__button-minus[disabled] {

        color: $disable-txt;
        cursor: default;

        &:hover {

            background: transparent;

        }

    }

    &__input-hour {

        text-align: center;
        width: 84px;
        border: none;
        background: transparent;
        font-size: 24px;
        color: $main;
    }

    &__input {

        width: 387px;
        margin-bottom: 27px;

    }

    &__textarea {

        width: 100%;
        margin-top: 45px;

    }

    &__button {

        margin-top: 32px;
        width: 175px;
        height: 64px;

    }

}

// .datepicker-here {

//     // width: 100% !important;

// }