.main-index {

    width: 100%;

    &__header {

        &-container {

            position: absolute;
            display: flex;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            flex-direction: column;
            justify-content: space-between;
            min-height: 510px;
            z-index: 3;

        }

        width: 840px;
        margin-left: auto;
        font-weight: 700;
        letter-spacing: 0.2px;
        font-size: 96px;
        text-transform: uppercase;
        // margin-bottom: 72px;

    }

    &__banner {

        width: 100%;
        margin-bottom: -4px;
    }

    &__banner-section {

        min-height: 1010px;
        margin-top: -160px;
        position: relative;
        z-index: -1;
        background-image: url('../image/main-banner_2.jpg');
        background-size: cover;
        background-position: center center;

    }

    &__about-us {

        margin-top: 120px;

    }

    &__subtitle {

        font-size: 18px;
        font-weight: 700;
        line-height: 32px;
        color: #868686;
        text-transform: uppercase;

    }

    &__title {

        margin-top: 10px;
        font-size: 24px;
        font-weight: 900;
        line-height: 32px;
        text-transform: uppercase;

    }

    &__features {

        margin-top: 110px;

    }

    &__partners {

        margin-top: 120px;
        // margin-bottom: 120px;

    }

}

@media (max-width:1200px) {

.main-index {

    &__header {

        width: 70%;

    }

}    

}

@media (max-width: 1010px) {

    .main-index {

        &__banner-section {

            min-height: 800px;

        }

    }

}

@media (max-width:890px) {

    .main-index {

        &__banner-section {

            min-height: 650px;

        }

        &__header {

            font-size: 56px;

            &-container {

                min-height: 350px;

            }

        }  
        
        &__about-us {

            margin-top: 77px;
    
        }

        &__partners {

            margin-top: 66px;

        }

    }

    

}

@media (max-width:730px) {

    .main-index {

        &__header {

            font-size: 24px;
            width: 100%;
            text-align: center;

            br {

                display: none;

            }

        }    

        &__banner-section {

            margin-top: -75px;
            min-height: 500px;

        }    

    }

}

@media (max-width: 640px) {

    .main-index {

        &__header {

            font-size: 18px;
            left: 45%;

            &-container {

                min-height: 140px;

            }

        }  
        
        &__banner-section {

            min-height: 350px;

        }    

    }

}

@media (max-width: 460px) {

    .main-index {
        
        &__subtitle {

            font-size: 8px;
            line-height: 32px;

        }

        &__title {

            font-size: 14px;
            line-height: 18.2px;
            margin-top: 4px;

        }

    }

}


@media (max-width: 360px) {

    .main-index {

        &__banner {

            height: 244px;

        }

        &__banner-section {

            margin-top: -75px;
            min-height: 244px;
            background-image: url('../image/main-banner_mobile.jpg');

        }  
        
        &__header {

            &-container {

                bottom: -45px;

            }

        }  

    }

}