.main-index {

    width: 100%;

    &__header {

        position: absolute;
        top: 50%;
        left: 45%;
        transform: translateY(-50%);
        font-weight: 700;
        letter-spacing: 0.2px;
        font-size: 48px;

    }

    &__banner {

        width: 100%;
        // margin-top: -160px;
    }

    &__banner-section {

        margin-top: -160px;
        position: relative;
        z-index: -1;

    }

    &__about-us {

        margin-top: 120px;

    }

    &__subtitle {

        font-size: 18px;
        font-weight: 700;
        line-height: 32px;
        color: #868686;
        text-transform: uppercase;

    }

    &__title {

        margin-top: 10px;
        font-size: 24px;
        font-weight: 900;
        line-height: 32px;
        text-transform: uppercase;

    }

    &__features {

        margin-top: 110px;

    }

    &__partners {

        margin-top: 120px;
        // margin-bottom: 120px;

    }

}

@media (max-width:890px) {

    .main-index {

        &__header {

            font-size: 36px;

        }  
        
        &__about-us {

            margin-top: 20px;
    
        }

    }

    

}

@media (max-width:730px) {

    .main-index {

        &__header {

            font-size: 24px;
            left: 50%;

        }    

        &__banner-section {

            margin-top: -75px;

        }    

    }

}

@media (max-width: 640px) {

    .main-index {

        &__header {

            font-size: 18px;
            left: 45%;

        }   

    }

}

@media (max-width: 460px) {

    .main-index {
        
        &__subtitle {

            font-size: 8px;
            line-height: 32px;

        }

        &__title {

            font-size: 14px;
            line-height: 18.2px;
            margin-top: 4px;

        }

    }

}


@media (max-width: 360px) {

    .main-index {

        &__banner {

            height: 244px;

        }

        &__banner-section {

            margin-top: -75px;

        }    

    }

}