.results {

    .container {

        display: flex;

    }

    &__list {

        width: 815px;
        min-height: 210px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-top: -170px;
        background-color: $hover-bg;
        padding-left: 60px;
        padding-right: 60px;

    }

    &__title {

        font-size: 48px;
        font-weight: 900;
        text-transform: uppercase;

    }

    &__description {

        font-size: 18px;
        font-weight: 400;

    }

}