.features {

    background-image: url('../img/bg-content-gray.svg');
    background-position: center 315px;
    background-repeat: no-repeat;
    background-size: cover;

    &__images-list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    &__images-item {
        position: relative;
        display: flex;
        justify-content: center;
        width: 300px;

        &::after {
            content: '';
            left: 0;
            top: 301px;
            width: 300px;
            height: 80px;
            position: absolute;
            background-image: url('../img/2-layers.png');
        }

        &:last-child {

            display: none;

        }
    }

    &__title {
        width: 734px;
        margin: 0 auto;
        padding: 75px 0;
        color: $color-text;
        font-size: 50px;
        font-weight: 300;
        text-align: center;

        &-br {

            display: none;

        }
    }

    &__header {
        margin: 0;
        color: $black;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;

        &--desc {
            padding-bottom: 25px;
            width: 230px;
            text-align: center;
        }
    }

    &__desc {
        margin: 0;
        color: $color-text;
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;

        &--desc {
            width: 240px;
            text-align: center;
        }

        &--diagram {
            padding: 25px 0 40px 0;
        }
    }

    &__desc-list {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        list-style: none;
        z-index: 1;    
    }

    &__desc-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;


    }

    &__diagram {
        padding: 70px 0 67px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .wrapper {
            width: 530px;
            min-height: 200px;
        }

    }

    &__link {
        color: $red;
        line-height: 30px;

        &:hover {
            color: $black;
            text-decoration: none;
            transition: 0.5s;
        }

        &:active {
            color: $black;
            opacity: 0.3;
        }
    }
}

@media (max-width: 660px) {

    .features {

        background: none;

        &__title {

            width: 590px;
            font-size: 40px;
            padding: 60px 0;

        }

        &__images-item {

            display: none;
            

            &::after {

                display: none;
            }

            &:last-child {

                display: flex;
                width: 268px;

            }

        }

        &__container {

            position: relative;
            background-image: url('../img/bg-content-gray.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;   
            
            &::after {
                content: '';
                left: 0;
                bottom: 0;
                width: 100%;
                height: 80px;
                position: absolute;
                background-image: url('../img/Layer_159.png');


            }

        }

        &__list-wrap {

            position: relative;
            display: flex;
            justify-content: space-between;

            

        }

        &__desc-list {

            width: 310px;
            height: 360px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

        }

        &__desc-item {

            margin-top: 25px;
            align-items: start;
        }

        &__header {

            font-size: 18px;
            text-align: left;

            &--desc {

                padding-bottom: 10px;
                line-height: 24px;
                
            }

            &--diagram {

                width: 168px;
                font-size: 30px;
                line-height: 36px;

            }

        }

        &__desc {

            font-size: 14px;
            line-height: 24px;
            text-align: left;

            &--desc {

                width: 310px;

            }

            &--diagram {

                padding-bottom: 20px;

            }

        }

        &__diagram {

            padding: 0;
            padding-bottom: 30px;

            .wrapper {

                width: 310px;
        
            }

            br {

                display: none;

            }

        }

        &__image {

            width: 238px;
        }

        &__link {

            font-size: 14px;

        }

    }

}

@media (max-width: 320px) {

    .features {

        &__title {

            width: 205px;
            font-size: 24px;
            padding: 40px 0;

            &-br {

                display: block;

            }

        }

        &__image-item {

            &:last-child {

                display: none;

            }

            &:nth-child(3) {

                display: flex;
                justify-content: center;
                align-items: center;

            }

        }

        &__list-wrap {

            padding-top: 60px;
            padding-left: 20px;
            padding-right: 20px;
            flex-direction: column;
            align-items: center;

        }

        &__desc-list {

            width: 100%;
            order: -1;
            height: 376px;
            margin-bottom: 40px;

        }

        &__header {

            &--desc {

                width: 260px;
                text-align: center;

            }

        }

        &__desc {

            &--desc {

                width: 260px;
                text-align: center;

            }

        }

        &__list-wrap {
            min-height: 900px;

        }

        &__diagram {

            display: none;

        }

    }

}