.feedbacks {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 405px;
    padding: 70px 0 35px 0;

    &__quote-icon {
        width: 79px;
        min-height: 63px;
        background-image: url('../img/quotes.png');
    }

    &__button {
        position: absolute;
        top: 213px;
        width: 22px;
        height: 41px;
        border: none;
        background-color: inherit;
        outline: none;
        cursor: pointer;
        opacity: 0.3;

        &--left {
            left: 0;
            background-image: url('../img/left-arrow.png');
        }

        &--right {
            right: 0;
            background-image: url('../img/right-arrow.png');
        }

        &:hover {
            opacity: 0.6;
        }

        &:active {
            opacity: 0.1;
        }
    }

    &__rewiew {
        padding-top: 58px;
        width: 685px;
    }

    &__text {
        margin: 0;
        text-align: center;
        color: $color-text;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }

    &__person {
        margin: 0;
        padding-top: 44px;
        margin-bottom: 8px;
        font-size: 24px;
        font-weight: 700;
        color: $black;
        text-align: center;
    }

    &__person-desc {
        margin: 0;
        color: $color-text;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
    }

    &__slider-control {
        display: none;
    }

}


@media (max-width: 660px) {

    .feedbacks {

        min-height: 295px;

        &__quote-icon {

            display: none;

        }

        &__button {
            
            display: none;

        }

        &__rewiew {

            width: 100%;

        }

        &__person {

            font-size: 20px;
            padding-top: 30px;

        }

        &__person-desc {

            font-size: 14px;

        }

        &__slider-control {

            width: 56px;
            margin: 0 auto;
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;

        }

        &__slider-button {

            padding: 0;
            height: 6px;
            width: 6px;
            border: none;
            border-radius: 50%;
            background-color: rgba(40, 54, 69, 0.3);
            cursor: pointer;
            outline: none;

            &--active {

                width: 9px;
                height: 9px;
                border: 3px solid $color-text;
                background-color: $white;

            }

            &:hover {

                background-color: rgba(40, 54, 69, 0.6);    

            }

            &:active {

                background-color: rgba(40, 54, 69, 0.1);

            }

        }

    }

}

@media (max-width: 320px) {

    .feedbacks {

        &__rewiew {

            display: flex;
            flex-direction: column-reverse;
            padding-top: 0;
            padding: 0 20px;

        }

        &__text {
            
            font-size: 14px;

        }

        &__person-desc {

            display: none;

        }

        &__person {

            padding-top: 0;
            margin: 20px;

        }

    }

}