.footer {
    min-height: 197px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__social-list {
        width: 170px;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__social-item {
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45px;
            height: 45px;
            border: 3px solid rgba(40, 40, 40, 0.1);
            border-radius: 50%;

            &:hover {
                border: 3px solid rgba(40, 40, 40, 1);    
            }

            &:active {
                border: 3px solid rgba(40, 40, 40, 1);
                opacity: 0.1;
            }
        }
    }

    &__copyright {
        width: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            margin: 0;
            color: $color-text;
        }

    }

}


@media (max-width: 660px) {

    .footer {

        min-height: 130px;

    }

}

@media (max-width: 320px) {

    .footer {

        flex-direction: column;
        min-height: 285px;
        padding: 40px 0 !important;

        &--index {

            display: none;

        }

    }

}