.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    &__cell {
        padding-left: 24px;
        width: 25%;
        height: 59px;
        color: $color-text;
        background-color: $white;
        border: 2px solid #e5e5e5;

        &--header {
            background-color: $color-text;
            text-align: center;
            color: #fff;
            line-height: 30px;
            text-transform: uppercase;
            padding: 22px 0;
            font-weight: 700;

            span {
                font-size: 24px;
                font-weight: 300;
            }
        }

        &--hit {
            background-image: url('../img/hit-label.png');
            background-position: 0 0;
            background-repeat: no-repeat;
        }

        &--none {
            border-left: none;
            border-top: none;
            background: $gray;
        }

        &--yes {
            background-image: url('../img/yes.png');
            background-position: center center;
            background-repeat: no-repeat;
        }

        &--no {
            background-image: url('../img/no.png');
            background-position: center center;
            background-repeat: no-repeat;    
        }
    }

    &--mobile {

        display: none;

    }

}

@media (max-width: 660px) {

    .table {

        &__cell {

            height: 45px;
            font-size: 14px;

            &--header {

                font-size: 16px;
                height: 75px;

                span {

                    font-size: 18px;

                }

            }

        }

    }

}