.footer {

    min-height: 120px;
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__tag {

        font-size: 21px;
        line-height: 26px;
        font-weight: 700;
        text-transform: uppercase;

    }

    &__link-list {

        width: 150px;
        display: flex;
        justify-content: space-between;

    }

    &__link {

        display: flex;
        align-items: center;
        justify-content: center;
        width: 46px;
        height: 48px;
        @include button;

        &:hover {

            @include hover-blue;

        }

        &:active {

            @include active-blue;

        }

        &:active img {

            opacity: 0.3;

        }

    }

    &__designed {

        display: flex;
        align-items: center;

        &-span {

            margin-right: 10px;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 26px;

        }

        &-link {

            svg path {

                transition: 0.3s all;

            }

            &:hover svg path {

                fill: $blue-light;

            }

            &:active svg path {

                fill: $black;
                opacity: 0.3;

            }

        }

    }

}

@media (max-width: 768px) {

    .footer {

        padding: 0 60px;

    }

}

@media (max-width: 690px) {

    .footer {

        padding: 0 20px;

    }

}

@media (max-width: 690px) {

    .footer {

        padding: 0 20px;

    }

}

@media (max-width: 548px) {

    .footer {

        flex-direction: column;
        padding: 30px 0;
        min-height: 240px;

    }

}