@import 'fonts';
@import 'variables';
@import 'mixins';

*,
*::before,
*::after {

    box-sizing: border-box;

}


p,
h1,
h2,
h3 {

    margin: 0;

}

ul {

    margin: 0;
    padding: 0;
    list-style: none;

}

body {

    font-family: 'SoinSansNeue', Arial, sans-serif;
    font-size: 24px;
    color: $main;
}

.container {

    width: 1400px;
    margin: 0 auto;

}

.wrapper {

    max-width: 1920px;
    padding-bottom: 175px;
    background-image: url('../img/svg/bg-cloud-1.svg'), 
                      url('../img/svg/bg-yellow.svg'),
                      url('../img/svg/bg-cloud-2.svg'),
                      url('../img/svg/bg-blue.svg'),
                      url('../img/svg/bg-cloud-3.svg');
    background-position: right top,
                         left 1250px,
                         left 1705px,
                         right 3090px,
                         right 100%;
    background-repeat: no-repeat;

}



.visually-hidden {

	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
  overflow: hidden;
    
}

.body {

  &--active {

    overflow: hidden;

  }

}

@import 'blocks/header';
@import 'blocks/navigation';
@import 'blocks/main-information';
@import 'blocks/video-presentation';
@import 'blocks/section';
@import 'blocks/_about-us';
@import 'blocks/order';
@import 'blocks/footer';
@import 'blocks/how-work';


@media (max-width: 1400px) {

  .container {

    width: 100%;
    padding: 0 25px;

  }

}

@media (max-width: 560px) {

  .wrapper {

    padding-bottom: 90px;
    background-size: 150%,
                     0,
                     150%,
                     0,
                     120%;
    background-position: -90px 90px,
                         0 0,
                         -70px 1010px,
                         0 0,
                         -70px 99.5%;


  }

}