.contest-main {

    &__text {
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 65px;
        text-align: center;
        line-height: 30px;
    }

}

@media (max-width: 660px) {

    .contest-main {

        &__text {

            width: 490px;

            br {

                display: none;

            }

        }

    }

}

@media (max-width: 320px) {

    .contest-main {

        &__text {

            width: 100%;
            padding: 0 25px;
            margin: 50px auto;
            margin-bottom: 0;
            font-size: 14px;

        }

    }

}