.contest-form {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__fieldset {

        margin: 0;
        padding: 0;
        margin-top: 65px;
        border: 2px solid $form-border;

    }

    &__legend {

        padding: 0 25px;
        color: $red;
        font-size: 14px;
        line-height: 30px;
        text-transform: uppercase;
        text-align: center;
    
    }

    &__label {

        color: $red;
        font-size: 14px;
        line-height: 30px;
        text-transform: uppercase;

    }

    &__input {

        font-size: 18px;
        height: 59px;
        padding: 0 22px;
        color: $color-text;
        line-height: 30px;
        border: 2px solid $form-border;
        border-radius: none;
        outline: none;

        &::placeholder {
            color: $color-text;    
        }

        &:hover {
            border: 2px solid $color-text;
        }

        &:active,
        &:focus {
            border: 2px solid $red;    
        }
    }

    &__button {

        width: 296px;
        height: 59px;
        background-color: $green;
        border: none;
        color: $white;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        outline: none;

        &:hover,
        &:focus {

            background-color: $green-hover;

        }

        &:active {

            color: rgba(255, 255, 255, 0.3)

        }

        &-wrap {

            width: 100%;
            margin-top: 70px;
            display: flex;
            justify-content: space-between;

        }

    }

    &__form-desc {

        font-size: 14px;
        color: $color-text;
        text-transform: uppercase;
        line-height: 30px;

        span {

            color: $red;

        }

    }

}

@media (max-width: 660px) {

    .contest-form {

        margin-bottom: 40px;

        &__form-desc {

            &--none {

                display: none;

            }

        }

    }

}

@media (max-width: 320px) {

    .contest-form {

        &__fieldset {

            margin-top: 40px;
            border: none;
            padding-left: 20px;
            padding-right: 20px;

        }

        &__legend {

            line-height: 18px;

        }

        &__button-wrap {

            margin-top: 40px;
            padding: 0 20px;
            order: 5;
            flex-direction: column;
            align-items: center;

        }

        &__button {

            width: 100%;
            margin-bottom: 40px;

        }

    }

}