.emotion-form {

    width: 100%;
    padding: 45px 60px;

    &__textarea {

        width: 100%;
        min-height: 120px;
        padding: 20px;
        resize: none;
        border: 2px solid $form-border;

        &::placeholder {

            color: $color-text;

        }

        &:hover {

            border: 2px solid $color-text;

        }

        &:focus {

            border: 2px solid $red;  

        }

    }

}

@media (max-width: 660px) {

    .emotion-form {

        &__textarea {

            min-height: 180px;

        }

    }

}

@media (max-width: 320px) {

    .emotion-form {

        padding: 20px;
        order: 4;

        &__legend {

            padding: 0;

        }

        &__textarea {

            width: 100%;

        }

    }

}