.header {

  font-weight: 400;
  padding: vw(40) 0;
  margin-bottom: 60px;
  @include media (padding, 40px 0);
  @include media (margin-bottom, 60px);

  b {

    font-weight: 800;

  }

  &__row {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: vw(40);
    @include media (margin-bottom, 40px);

  }

  &__company-wrap {

    display: flex;
    align-items: center;

  }

  &__logo-link {

    width: vw(183);
    height: vw(74);
    @include media (width, 183px);
    @include media (height, 74px);

  }

  &__desc {

    width: vw(293);
    margin-left: vw(35);
    font-size: vw(18);
    font-weight: 400;
    letter-spacing: 25;
    line-height: vw(22);
    @include media (font-size, 18px);
    @include media (line-height, 22px);
    @include media (width, 293px);
    @include media (margin-left, 35px);

  }

  &__adress-wrap {

    display: flex;
    align-items: center;
    height: vw(77);
    @include media (height, 77px);

  }

  &__map-icon {

    width: vw(77);
    height: vw(77);
    @include media (width, 77px);
    @include media (height, 77px);

  }

  &__adress {

    font-size: vw(16);
    width: vw(173);
    margin-left: vw(17);
    line-height: vw(21);
    letter-spacing: 25;
    @include media (font-size, 16px);
    @include media (line-height, 21px);
    @include media (width, 173px);
    @include media (margin-left, 17px);

  }

  &__btn {

    border: 2px solid #313d4b;
    width: vw(244);
    height: vw(71);
    border-radius: vw(5);
    font-size: vw(16);
    font-weight: 700;
    color: #ffffff;
    background-color: #313d4b;
    cursor: pointer;
    @include media (font-size, 16px);
    @include media (height, 71px);
    @include media (width, 244px);
    @include media (border-radius, 5px);
    transition: all .3s ease-in-out;

    &:hover {

      background-color: transparent;
      color: $main;
      transition: all .3s ease-in-out;

    }

    &:active {

      opacity: 0.6;

    }

  }

  &__phone {

    position: relative;
    font-weight: 800;
    font-size: vw(22);
    line-height: vw(22);
    transition: all .3s ease-in-out;
    @include media (font-size, 22px);
    @include media (line-height, 22px);
    

    &::before {

      content: '';
      position: absolute;
      width: vw(16);
      height: vw(16);
      background-image: url('../icon/phone.png');
      background-repeat: no-repeat;
      background-size: cover;
      left: vw(-24);
      top: 50%;
      transform: translateY(-50%);
      @include media (width, 16px);
      @include media (height, 16px);
      @include media (left, -24px);

    }

    &:hover {

      color: #575457;
      transition: all .3s ease-in-out;

    }

    &:active {

      opacity: 0.6;

    }

  }

  &__message-list {

    display: flex;
    margin-top: vw(10);
    @include media (margin-top, 10px)

  }

  &__message-item {

    &:not(:last-child) {

      margin-right: vw(9);
      @include media (margin-right, 9px);

    }

  }

  &__message-link {

    display: flex;
    align-items: center;
    justify-content: center;
    width: vw(50);
    height: vw(50);
    border-radius: 50%; 
    transition: all .3s ease-in-out;
    @include media (width, 50px);
    @include media (height, 50px);
    
    &--viber {

      background-color: #7460f3;

      &:hover {

        background-color: #5c44f2;

      }

      img {

        width: vw(18);
        height: vw(21);
        @include media (width, 18px);
        @include media (height, 21px);

      }

    }

    &--telegram {

      background-color: #00a2f2;

      &:hover {

        background-color: #0095de;

      }

      img {

        width: vw(19);
        height: vw(16);
        @include media (width, 19px);
        @include media (height, 16px);

      }

    }

    &--whatsapp {

      background-color: #25d266;

      &:hover {

        background-color: #14b550;

      }

      img {

        width: vw(20);
        height: vw(20);
        @include media (width, 20px);
        @include media (height, 20px);

      }

    }

    &:active {

      opacity: 0.6;

    }

  }

}

@media (max-width: 922px) {

  .header {

    position: relative;
    margin-bottom: 40px;
    padding-bottom: 0;

    &__row {

      margin-bottom: 0;

    }

    &__company-wrap {

      width: 100%;
      margin-bottom: 20px;

    }

    &__logo-link {

      width: 130px;
      height: auto;

    }

    &__desc {

      width: 220px;
      font-size: 14px;
      line-height: 1.3;
      margin-left: 35px;

    }

    &__adress-wrap {

      height: 70px;

    }

    &__adress {

      font-size: 14px;
      line-height: 1.3;
      width: 120px;

    }

    &__map-icon {

      width: 70px;
      height: 70px;

    }

    &__btn {

      width: 200px;
      height: 45px;
      font-size: 14px;
      order: 1;

    }

    &__phone {

      font-size: 14px;
      line-height: 1.3;

      &::before {

        width: 10px;
        height: 10px;
        left: -13px;

      }

    }

    &__message-list {

      width: 100%;
      justify-content: space-between;
      margin-top: 10px;

    }

    &__message-link {

      width: 35px;
      height: 35px;

      img {

        width: 15px;
        height: 15px;

      }

    }

  }

}

@media (max-width: 575px) {

  .header {

    &__btn {

      margin: 0 auto;
      margin-top: 20px;

    }

  }

}

@media (max-width: 480px) {

  .header {

    &__company-wrap {

      flex-wrap: wrap;

    }

    &__desc {

      width: 100%;
      margin-top: 20px;
      margin-left: 0;
      padding: 0 20px;
      text-align: center;

    }

    &__adress-wrap {

      height: 50px;

    }

    &__adress {

      font-size: 12px;
      line-height: 1.3;
      width: 120px;

    }

    &__map-icon {

      display: none;

    }

  }

}

