.main {

  &__header {

    width: vw(810);
    font-weight: 300;
    font-size: vw(60);
    line-height: vw(68);
    margin-bottom: vw(80);
    @include media (font-size, 60px);
    @include media (width, 810px);
    @include media (line-height, 68px);
    @include media (margin-bottom, 80px);
    
    b {

      font-weight: 700;

    }

  }

  &__features-list {

    display: flex;
    flex-wrap: wrap;
    margin-left: vw(30);
    margin-bottom: vw(60);
    @include media (margin-left, 30px);
    @include media (margin-bottom, 60px);

  }

  &__features-item {

    position: relative;
    font-size: vw(20);
    font-weight: 300;
    @include media (font-size, 20px);

    &::before {

      content: '';
      position: absolute;
      width: vw(25);
      height: vw(6);
      background-color: #fe5851;
      transform: rotate(-45deg);
      top: 0;
      left: vw(-31);

    }

    &:not(:last-child) {

      margin-right: vw(83);
      @include media (margin-right, 83px);

    }

    b {

      font-weight: 700;

    }

    &--exp {

      width: vw(307);
      padding-left: vw(85);
      @include media (width, 307px);
      @include media (padding-left, 85px);


      span {

        position: absolute;
        font-size: vw(72);
        line-height: 1;
        font-weight: 800;
        top: vw(-3);
        left: 0;
        @include media (font-size, 72px);
        @include media (top, -3px);

      }

    }

    &--free {

      width: vw(194);
      @include media (width, 194px);

    }

    &--fast {

      width: vw(187);
      @include media (width, 187px)

    }

  }

  &__row {

    display: flex;
    align-items: flex-end;

  }

  &__calc-wrap {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: vw(425);
    @include media (width,425px);

  }

  &__calc-desc {

    font-size: vw(18);
    line-height: vw(28);
    width: vw(380);
    @include media (font-size, 18px);
    @include media (line-height, 28px);
    @include media (width, 380px);

    span {

      font-weight: 700;
      line-height: 1;
      padding: 0 vw(5);
      background-color: #fff;
      border-radius: 5px;
      @include media (padding, 0 5px);

    }

  }

  &__calc-btn {

    position: relative;
    margin-top: vw(28);
    width: 100%;
    height: vw(101);
    padding-right: vw(56);
    padding-left: vw(100);
    font-size: vw(17);
    font-weight: 700;
    line-height: vw(24);
    letter-spacing: 25;
    text-transform: uppercase;
    text-align: left;
    border: none;
    color: #fff;
    box-shadow: 0 4px 0 #e63c3c, 0 19px 49px rgba(254, 88, 81, 0.1), inset 0 0 46px rgba(254, 81, 40, 0.2);
    border-radius: 5px;
    background-image: linear-gradient(to top, #fe504f 0%, #fe744f 100%);
    @include media (margin-top, 28px);
    @include media (height, 101px);
    @include media (padding-right, 56px);
    @include media (padding-left, 100px); 
    @include media (font-size, 17px);
    @include media (line-height, 24px);
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
      
      filter: contrast(200%);

    }

    &:active {

      opacity: 0.6;

    }

    &::before {

      content: '';
      position: absolute;
      width: vw(38);
      height: vw(38);
      top: vw(33);
      left: vw(46);
      background-image: url('../icon/calc.png');
      background-size: cover;
      background-repeat: no-repeat;
      @include media (width, 38px);
      @include media (height, 38px);
      @include media (top, 33px);
      @include media (left, 46px);

    }

  }

  &__license-wrap {

    margin-left: vw(104);
    @include media (margin-left, 104px);
  }

  &__license-desc {

    width: vw(305);
    font-size: vw(17);
    margin-bottom: vw(17);
    font-weight: 700;
    text-align: center;
    @include media (width, 305px);
    @include media (font-size, 17px);
    @include media (margin-bottom, 17px);

  }

  &__license-list {

    position: relative;
    display: flex;


    &::before,
    &::after {

      content: '';
      position: absolute;
      width: vw(13);
      height: vw(25);
      top: 50%;
      transform: translateY(-50%);
      background-size: cover;
      background-repeat: no-repeat;
      @include media (width, 13px);
      @include media (height, 25px);

    }

    &::before {

      background-image: url('../icon/arrow-left.png');
      left: vw(-30);
      @include media (left, -30px);

    }

    &::after {

      background-image: url('../icon/arrow-right.png');
      right: vw(-30);
      @include media (right, -30px);

    }

  }

  &__license-item {

    &:not(:last-child) {

      margin-right: vw(17);
      @include media (margin-right, 17px);

    }

  }

  &__license-img {

    display: block;
    width: vw(92);
    height: vw(115);
    @include media (width, 92px);
    @include media (height, 115px);


  }

}

@media (max-width: 922px) {

  .main {

    &__header {

      font-size: 28px;
      line-height: 1.3;
      width: 380px;
      margin-bottom: 20px;

    }

    &__features-list {

      margin-top: 40px;
      margin-bottom: 40px;

    }

    &__features-item {

      font-size: 14px;

      &--exp {

        width: 187px;
        padding-left: 40px;

        span {

          font-size: 37px;

        }

      }

      &--free {

        width: 136px;

      }

      &--fast {

        width: 131px;

      }

      &::before {

        width: 16px;
        height: 4px;
        left: -14px;

      }

      &:not(:last-child) {

        margin-right: 30px;
  
      }

    }

    &__calc-wrap {

      width: 180px;

    }

    &__calc-desc {

      font-size: 12px;
      line-height: 1.3;
      width: 100%;

    }

    &__calc-btn {

      font-size: 12px;
      font-weight: 400;
      padding-left: 25px;
      padding-right: 10px;
      height: 35px;

      &::before {

        width: 15px;
        height: 15px;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);

      }

      span {

        display: none;

      }

    }

    &__license-wrap {

      margin-left: 50px;

    }

    &__license-desc {
      
      font-size: 12px;
      width: 200px;
      margin-bottom: 10px;

    }

    &__license-list {

      justify-content: space-between;

      &::before,
      &::after {

        width: 9px;
        height: 17px;

      }

      &::before {

        left: -10px;
  
      }
  
      &::after {
  
        right: -10px;
  
      }

    }

    &__license-img {

      width: 50px;
      height: auto;

    }

  }

}

@media (max-width: 580px) {

  .main {

    &__header {

      font-size: 18px;
      text-align: center;
      width: 245px;
      margin: 0 auto;
      margin-bottom: 20px;

    }

    &__features-list {

      justify-content: space-between;

    }

    &__features-item {


      &:not(:last-child) {

        margin-right: 0;
  
      }

      &--fast {

        margin: 0 auto;
        margin-top: 20px;
        width: 100%;
        padding: 0 140px;

        &::before {

          left: 125px;

        }

      }

    }

    &__row {

      flex-direction: column;
      align-items: center;

    }

    &__calc-wrap {

      flex-direction: column-reverse;
      align-items: center;
      width: 100%;

    }

    &__calc-desc {

      margin-top: 20px;
      width: 200px;
      text-align: center;

    }

    &__calc-btn {

      width: 180px;

    }

    &__license-wrap {

      margin-left: 0;
      margin-top: 40px;

    }

  }

}

@media (max-width: 480px) {

  .main {

    &__features-list {

      flex-direction: column;
      align-items: center;

    }

    &__features-item {

      font-size: 12px;
      width: 170px;
      margin-top: 20px;

      &--exp {

        padding-left: 30px;

        span {

          font-size: 28px;

        }

      }

      &--fast {

        padding: 0;

        &::before {

          left: -14px;
  
        }

      }

    }

  }

}



