.nav {

  &__list {

    display: flex;
    justify-content: space-between;

  }

  &__link {

    display: block;
    font-size: vw(16);
    font-weight: 700;
    text-transform: uppercase;
    padding: vw(20);
    transition: all .3s ease-in-out;
    @include media (font-size, 16px);
    @include media (padding, 20px);

    &:hover {

      color: #fe5851;

    }

    &:active {

      opacity: 0.6;

    }

  }

  &__hamburger {

    padding: 0;
    padding-left: 20px;
    display: none;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    outline: none;

    &:hover {

      opacity: 0.7;
    }

    &.is-active {

      position: fixed;
      right: 20px;
      top: 35px;

    }

    &.is-active:hover {

      opacity: 0.7;
    }

    &.is-active &-inner,
    &.is-active &-inner::before,
    &.is-active &-inner::after {
      background-color: #fff;

    }
  }

  &__hamburger-box {

    width: 28px;
    height: 14px;
    display: inline-block;
    position: relative;

  }

  &__hamburger-inner {

    display: block;
    top: 50%;
    margin-top: -2px;

    &,
    &::before,
    &::after {

      width: 28px;
      height: 2px;
      background-color: $main;
      //   border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease;

    }

    &::before,
    &::after {
      content: "";
      display: block;

    }

    &::before {

      top: -10px;

    }

    &::after {

      bottom: -10px;

    }

  }

  &__hamburger--spin &__hamburger-inner {

    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

  }

  &__hamburger--spin &__hamburger-inner::before {

    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;

  }

  &__hamburger--spin &__hamburger-inner::after {

    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);

  }

  &__hamburger--spin.is-active &__hamburger-inner {

    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

  }

  &__hamburger--spin.is-active &__hamburger-inner::before {

    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;

  }

  &__hamburger--spin.is-active &__hamburger-inner::after {

    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);

  }

}

@media (max-width: 922px) {

  .nav {

    

    &__hamburger {

      position: absolute;
      display: inline-block;
      top: 35px;
      right: 0;
      z-index: 999;

    }

    &__list {

      position: fixed;
      top: 0;
      right: 0;
      width: 200px;
      height: 100%;
      padding: 20px;
      flex-direction: column;
      justify-content: center;
      background-color: #313d4b;
      z-index: 999;
      transform: translateX(150%);
      transition: all .3s ease-in-out;

      &--active {

        transform: translateX(0);
        box-shadow: 0 0 0 9999px rgba(0,0,0, 0.3);
        transition: all .3s ease-in-out;

      }

    }

    &__item {

      &:not(:last-child) {

        margin-bottom: 20px;

      }

    }

    &__link {

      font-size: 12px;
      font-weight: 400;
      color: #fff;

    }

  }

}