.operators {

    padding-top: 40px;

    &__list {

        margin-top: 30px;

    }

    &__item {

        width: 100%;
        display: flex;
        background-color: $hover-bg;
        margin-bottom: 30px;

        &-2 {

            animation-delay: .5s;

        }

    }

    &__information {

        &-list {

            display: flex;
            flex-grow: 1;
            align-items: center;

        }

        &-item {

            padding-left: 23px;
            height: 164px;
            color: $third;
            font-weight: 400;
            letter-spacing: 0.2px;
            line-height: 21.6px;

            &--name {

                width: 252px;

            }

            &--qualification {

                width: 344px;
                border-right: 1px solid rgba(134, 134, 134, 0.4);
                border-left: 1px solid rgba(134, 134, 134, 0.4);

            }

            &--responsibility {

                width: 377px;

            }

        }

    }

    &__name {

        width: 186px;
        color: $main;
        font-weight: 700;
        line-height: 23.4px;
        margin-bottom: 16px;

    }

    &__stars {

        &-list{

            width: 157px;
            height: 23px;
            display: flex;
            margin-top: 33px;
            justify-content: space-between;

        }

        &-item {

            width: 23px;
            height: 23px;
            background-image: url('../icon/star-false.svg');
            background-repeat: no-repeat;

            &--active {

                background-image: url('../icon/star-true.svg'); 
                background-repeat: no-repeat;   

            }

        }

    }

    &__header {

        color: $main;
        margin-bottom: 16px;

    }

    &__category {

        margin-top: 17px;
        margin-bottom: 16px;

    }

    &__responsibility-list {

        width: 100%;
        line-height: 23.4px;

    }

}

@media (max-width: 1200px) {

    .operators {

        &__information-item {

            &--name {

                width: 30%;

            }

            &--qualification {

                width: 28%;

            }

            &--responsibility {

                width: 31.40%;
                flex-grow: 1;

            }

        }    

    }

}

@media (max-width: 1010px) {

    .operators {

        font-size: 16px;

        &__information-item {

            &--name {

                width: 30%;

            }

            &--qualification {

                width: 28%;

            }

            &--responsibility {

                width: 31.40%;
                flex-grow: 1;

            }

        } 
        
        &__name {

            width: 100%;

        }

        &__stars {

            &-list {

                width: 100%;

            }

        }

        &__information-item {

            padding-left: 10px;
            height: 100%;

        }

        &__information-list {

            align-items: flex-start;

        }

        &__item {

            // min-height: 300px;
            align-items: flex-start;

        }

    }

}

@media (max-width: 760px) {

    .operators {

        font-size: 14px;

    }

}

@media (max-width: 700px) {

    .operators {

        padding-top: 0;
        font-size: 14px;

        &__picture {

            width: 200px;

        }

        &__item {

            flex-wrap: wrap;

        }

    }

}

@media (max-width: 460px) {

    .operators {

        &__list {

            margin-top: 27px;

        }

        &__item {

            position: relative;
            padding-bottom: 32px;
            margin-bottom: 32px;
            background-color: transparent;

            &:after {

                content:'';
                position: absolute;
                width: 163px;
                height: 2px;
                background-color: $third;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;

            }

            &:last-child {

                margin-bottom: 0;
                padding-bottom: 0;

                &::after {

                    display: none;

                }

            }

        }

        &__picture {

            width: 100px;
            position: absolute;
            top: 0;
            left: 0;

        }

        &__information-list {

            flex-direction: column;

        }

        &__information-item {

            width: 100%;
            
            &--name {

                padding-left: 108px;
                height: 98px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

            }

            &--qualification {

                margin-top: 24px;
                height: 92px;
                border: none;
                padding-left: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

            }

            &--responsibility {

                margin-top: 16px;
                padding-left: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;    

            }

        }

        &__name {

            margin-bottom: 0;
            line-height: 24px;
            letter-spacing: 0.2px;

        }

        &__stars-list {

            width: 157px;
            margin-top: auto;

        }

        &__qualification {

            margin-bottom: 8px;

        }

        &__category {

            margin: 0;

        }

        &__responsibility {

            margin-bottom: 8px;

        }

    }

}