.how-work {

    margin-top: 230px;
    width: 100%;

    &__wrapper {

        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__header {

        padding-top: 100px;
        width: 710px;
        text-align: center;
        font-size: 66px;
        line-height: 110%;
        font-weight: 700;
        margin: 0 auto;
        margin-bottom: 40px;

    }   
    
    &__canvas-wrap {

        width: 900px;
        height: 900px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('../icon/circles.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    &__canvas {

        width: 868px;
        height: 434px;
        margin: 0 auto;

    }


    &__container {

        position: relative;
        margin: 0 auto;
        width: 774px;
        height: 774px;
        background-image: url('../icon/circles.svg');

        &::before {

            content: '';
            position: absolute;
            top: 302px;
            left: 125px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $third;

        }

        &--second {

            margin-top: 78px;

            &::before {

                left: 630px;

            }

        }


    }

    &__img {

        &--second {

            margin-top: 105px;

        }

    }

    &__text-wrap {

        position: absolute;
        top: 207px;
        right: 676px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 413px;
        height: 230px;
        background: #f6f6f6;
        border-radius: 42px;
        padding: 0 45px;

        &--second {

            left: 705px;

        }

    }

    &__text-header {

        font-size: 25px;
        font-weight: 700;
        line-height: 150%;
        margin-bottom: 23px;

    }

    &__text {

        // width: 324px;
        font-size: 15px;
        line-height: 150%;

    }


}



@media (max-width:1470px) {

    .how-work {

        &__text-wrap {

            top: 70px;
            right: 622px;

            &--second {

                top: 340px;
                left: 600px;

            }

        }

    }

}

@media (max-width:1300px) {

    .how-work {

        &__text-wrap {

            top: 60px;
            right: 520px;

            &--second {

                top: 340px;
                left: 520px

            }

        }

    }

}

@media (max-width:1110px) {

    .how-work {

        &__text-wrap {

            right: 480px;
            padding: 0 25px;
            width: 373px;
            height: 190px;

            &--second {

                top: 340px;
                left: 480px

            }

        }

        &__text-header {

            margin-bottom: 10px;

        }

    }

}

@media (max-width:940px) {

    .how-work {

        &__text-wrap {

            right: 480px;
            padding: 25px;
            width: 250px;
            height: auto;

            &--second {

                top: 340px;
                left: 480px

            }

        }

    }

}

@media (max-width: 868px) {

    .how-work {

        &__canvas {

            width: 100%;
            height: auto;

        }

    }

}

@media (max-width: 775px) {

    .how-work {

        &__container {

            width: 100%;
            height: auto;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

        }

        &__header {

            width: 100%;

        }

        &__img {

            width: 90%;
            height: auto;

        }

        &__container {

            &::before {

                display: none;

            }

        }

        &__text-wrap {

            left: 2%;

            &--second {

                top: 300px;
                left: 63%;

            }

        }

    }

}


@media (max-width: 680px) {

    .how-work {

        &__text-wrap {

            height: auto;
            left: 50%;
            top: calc(100% + 42px);
            transform: translateX(-50%);
            width: 100%;
            padding: 0;
            background-color: #fff;
            align-items: center;

        }

        &__text-header {

            display: inline-block;
            text-align: center;
            width: 170px;
            height: 43px;
            margin: 0 auto;
            background-color: #f6f6f6;
            line-height: 43px;
            vertical-align: center;
            border-radius: 42px;
            font-size: 15px;
            margin-bottom: 32px;


        }

        &__text {

            width: 215px;
            font-size: 13px;
            text-align: center;

        }

        &__container {

            &--second {

                margin-top: 282px;
                margin-bottom: 282px;

            }

        }

    }

}



@media (max-width: 480px) {

    .how-work {

        margin-top: 56px;

        &__header {

            font-size: 30px;
            line-height: 30px;
            margin-bottom: 59px;

        }

        &__container {

            width: 280px;
            height: 280px;
            background-position: center;
            background-size: contain;

        }

        &__img {

            width: 246px;
            height: 246px;
            filter: drop-shadow(42px 22px 44px #D9E0EA);

            &--second {

                margin-top: 38px;
                width: 250px;
                height: 250px;

            }

        }

    }

}