.video-presentation {

    margin-top: 312px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {

        width: 795px;
        margin: 0 auto;
        margin-bottom: 60px;
        text-align: center;
        font-size: 45px;
        line-height: 58.5px;
        font-weight: 800;

    }

    &__video {

        display: inline-block;
        width: 1000px;
        margin: 0 auto;

    }

}

@media (max-width: 1060px) {

    .video-presentation {

        margin-top: 87px;

        &__video {

            width: 100%;

        }

    }

}

@media (max-width: 840px) {

    .video-presentation {

        &__text {

            font-size: 36px;
            line-height: 48px;
            width: 100%;
            margin-bottom: 40px;

        }

    }

}

@media (max-width: 640px) {

    .video-presentation {

        &__text {

            font-size: 30px;
            line-height: 40px;
            width: 100%;
            margin-bottom: 30px;

        }

    }

}

@media (max-width: 550px) {

    .video-presentation {

        &__text {

            font-size: 26px;
            line-height: 30px;
            width: 100%;
            margin-bottom: 30px;

        }

    }

}

@media (max-width: 480px) {

    .video-presentation {

        margin-top: 80px;

        &__text {

            width: 318px;
            font-size: 20px;
            line-height: 26px;

        }

        &__video {

            width: 300px;

        }

    }

}