@mixin button {

    border: none;
    background-color: $blue-light;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s all;

}

@mixin hover-blue {

    background-color: $blue;

}

@mixin active-blue {

    background-color: $blue-dark;
    color: rgba(255, 255, 255, 0.3);

}