@import 'fonts';
@import 'variables';


*,
*::before,
*::after {

    box-sizing: border-box;

}


p,
h1,
h2,
h3 {

    margin: 0;

}

ul {

    margin: 0;
    padding: 0;
    list-style: none;

}

body {

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: $gray-light;
    color: $black;

}

.container {

    width: 1200px;
    margin: 0 auto;
    background-color: $white;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);

}

.visually-hidden {

	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
    overflow: hidden;
    
}

@import 'mixins';
@import 'blocks/common/navigation';
@import 'blocks/common/header';
@import 'blocks/index/main-index';
@import 'blocks/index/features';
@import 'blocks/common/footer';
@import 'blocks/photo/main-photo';
@import 'blocks/photo/photo';
@import 'blocks/photo/video';
@import 'blocks/form/form';
@import 'blocks/form/impression-form';
@import 'blocks/form/fullname-form';
@import 'blocks/form/contacts-form';
@import 'blocks/form/showplace-form';
@import 'blocks/form/emotion-form';


@media (max-width: 1200px) {

    .container {

        width: 100%;
        box-shadow: none;

    }

} 