.tab-navigation {

    width: 275px;

    &__header {

        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2px;
        line-height: 23.4px;

        &--details {

            width: 310px;

        }

    }

    &__list {

        padding-top: 15px;
        padding-bottom: 30px;

    }

    &__item {

        &:hover {
 
            background-image: linear-gradient(rgba(151, 151, 151, 0.2) 0%, rgba(9, 9, 9, 0.2) 100%);

            & .tab-navigation__button-text {

                color: $main;

            }

        }

        &--active {

            background-image: linear-gradient(rgba(151, 151, 151, 0.2) 0%, rgba(9, 9, 9, 0.2) 100%);

            & .tab-navigation__button-text {

                color: $main;

            }

        }

    }

    &__button {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 86px;
        background: transparent;
        border: none;
        color: $main;
        transition: .3s all;
        cursor: pointer;
        outline: none;

        &-text {

            width: 186px;
            text-align: left;
            color: $third;

        }

    }

    &__image {

        margin-right: 16px;
        margin-left: auto;

    }

    &--details {

        width: 310px;

    }

    &__back {

        display: none;

    }

}

@media (max-width: 360px) {

    .tab-navigation {

        width: 100%;
        transition: .5s all;

        &__header {

            font-size: 14px;
            line-height: 18px;

        }

        &__item {

            background: $hover-bg;
            margin-bottom: 24px;

            &:last-child {

                margin-bottom: 0;

            }

            &:hover {

                background: $hover-bg;

            }

        }

        &__button-text {

            color: $main;

        }
        &--none {

            position: fixed;
            transform: translateX(-300%);
            overflow: hidden;

        }

    }

}