.photo-gallery {

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        width: 300px;
        &--marg {
            margin-top: 55px;
        }
    }

    &__photo {
        display: block;
    }

    &__comment-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 155px;
        padding: 20px 31px 30px 27px;
        background-color: $color-second;
    }
}

@media (max-width: 660px) {

    .photo-gallery {

        &__item {

            &--marg {

                margin-top: 20px;

            }

        }

    }

}

@media (max-width: 320px) {

    .photo-gallery {

        &__list {

            width: 100%;
            padding: 0 20px;

        }

    }

}