@import url('https://fonts.googleapis.com/css?family=Raleway:500,700|Source+Sans+Pro');

@font-face {
    font-family: 'Walkway';
    src: url('fonts/WalkwayBlack.eot');
    src: url('fonts/WalkwayBlack.eot?#iefix') format('embedded-opentype'),
        url('fonts/WalkwayBlack.woff2') format('woff2'),
        url('fonts/WalkwayBlack.woff') format('woff'),
        url('fonts/WalkwayBlack.ttf') format('truetype'),
        url('fonts/WalkwayBlack.svg#WalkwayBlack') format('svg');
    font-weight: 900;
    font-style: normal;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
    font-size: 10px;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
}

p, tr {
    font-family: 'Source Sans Pro', sans-serif;    
}

.main {
    background: url(img/main-bg.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
    min-height: 600px;
    position: relative;
    color: #fff;
}

.main-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: .8;
    background-color: #000a0f;
}

.main-wrap {
    position: relative;
    z-index: 1;
    margin: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
}


.header {
    width: 70%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    -ms-align-items: center;
    align-items: center;
}

.logo {
    font-family: 'Walkway', sans-serif;
    font-size: 3.5rem;
}

.logo span {
    text-transform: uppercase;
    color: #0199e6;
}

.social-links .fa {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    line-height: 2.5rem;
    text-align: center;
    background-color: #fff;
    color: #000;
    transition: .5s;
}

.social-links .fa:hover {
    background-color: #000;
    color: #fff;
}

.main-text {
    text-align: center;
}

.main-text h1 {
    font-size: 4.5rem;
    margin: 16rem 0 4.5rem 0;
}

.main-text h1 span {
    color: #0199e6;
}

.main-text p {
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
    margin-bottom: 7.5rem;
}

.subscribe {
    width: 100%;
    text-align: center;
    padding: 0;
}

.subscribe-wrap {
    width: 60%;
    height: 8rem;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.sub-overly {
    background-color: #000;
    opacity: .6;
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.sub-input {
    position: relative;
    z-index: 1;
    width: 20%;
    margin: 2rem 0;
    background-color: #000;
    color: #fff;
    border: 1px solid #0199e6;
    border-left: 3px solid #0199e6;
    font-size: 1.4rem;
    border-radius: 0.2rem;
}

.sub-input::placeholder {
    color: #fff;
    padding-left: 1rem;
}

.get-started {
    background-color: #0199e6;
    text-transform: uppercase;
}

.subscribe p {
    font-size: 1.6rem;
    margin-left: 15%;
}

.subscribe p:after{
    content:url(img/main-arrow.png);
    margin-left: 0.5rem;
}

.main-explore {
    
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    align-content: center;
    height: 80vh;
}

.explore-brows {
    width: 35%;
}

.explore-text {
    width: 35%;
    margin-left: 5.5rem;
    padding: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: flex-start;
    align-items: flex-start;
}

.explore-text h2 {
    font-size: 3.5rem;
    padding: 0;
    margin: 0;
    margin-bottom: 5rem;
    position: relative;
}

.explore-text h2:after, .more-about-product h2:after {
    content: '';
    position: absolute;
    left: 0;
    top: 6rem;
    width: 6rem;
    height: 1px;
    background-color: #0199e6;
}

.explore-text p, .explore-text h3 {
    font-size: 1.6rem;
}

.main-explore p {
    color: #727272;
    line-height: 2rem;
}

.explore-custom, .explore-quality, .more-custom, .more-quality {
    position: relative;
}

.explore-custom h3, 
.explore-quality h3,
.explore-custom p, 
.explore-quality p, 
.more-custom h3, 
.more-quality h3,
.more-custom p, 
.more-quality p {
    margin-left: 5rem;
}

.explore-custom h3:before {
    content: url(img/icon/custom.png);
    position: absolute;
    left: 0;
    
}

.explore-quality h3:before {
    content: url(img/icon/quality.png);
    position: absolute;
    left: 0;
}

.more-about-product {
    height: 80vh;
    background: #f7f8fa;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.more-text {
    width: 37%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: flex-start;
    align-items: flex-start;
    padding: 0;
}

.more-brows {
    margin-left: 30%;
    margin-left: 5.5rem;
}

.more-about-product h2 {
    font-size: 3.5rem;
    padding: 0;
    margin: 0;
    margin-bottom: 5rem;
    position: relative;
}

.more-about-product h3, .more-about-product p {
    font-size: 1.6rem;
}

.more-about-product p {
    color: #727272;
    line-height: 2rem;
}

.more-custom h3:before {
    content: url(img/icon/good-perf.png);
    position: absolute;
    left: 0;
}

.more-quality h3:before {
    content: url(img/icon/video-bg.png);
    position: absolute;
    left: 0;
}

.features {
    height: 100vh;
    text-align: center;
}

.features h2 {
    margin-top: 10rem;
    font-size: 3.5rem;
    position: relative;
}

.features h2:after, .price h2:after, .feedback h2:after {
    content: '';
    position: absolute;
    left: 48%;
    display: inline-block;
    margin: 0 auto;
    top: 5.5rem;
    width: 6rem;
    height: 1px;
    background-color: #0199e6;    
}

.features p {
    font-size: 1.6rem;
    color: #727272;
    margin-bottom: 8rem;
}

.features-wrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}

.features-tag {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    width: 30rem;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.features-tag h3 {
    font-size: 2rem;
}

.features-tag p {
    line-height: 2.5rem;
}

table {
    border: 1px solid #e3e3e3;
    border-spacing: inherit;
    font-size: 1.6rem;
    background-color: #fff;
}

.price {
    height: 100vh;
    background-color: #f7f8fa;
    min-height: 600px;
    padding-top: 8rem;
}

.price h2 {
    color: #323232;
    font-size: 3.5rem;
    text-align: center;
    position: relative;
}

.price p {
    font-size: 1.7rem;
    color: #727272;
    text-align: center;
    margin-bottom: 5rem;
}

table h3 {
    font-size: 2.4rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

td {
    color: #323232;
    border-bottom: 1px dotted #e3e3e3;
    padding: 1rem 1rem;
}

td:last-child {
    text-align: right;
    font-weight: 700;
}

tr:last-child {
    font-weight: 700;
}

tr:first-child td{
    background-color: #323232;
    color: #fff;
    padding: 0;
    text-align: center;
    border-bottom: none;
    font-weight: 500;
    padding-bottom: 1.5rem;
}

table span {
    color: #1083c1;
    font-weight: 700;
}

table button {
    border: 1px solid #727272;
    border-radius: 2px;
    background-color: #fff;
    color: #727272;
    text-transform: uppercase;
    padding: 1rem 2rem;
}

.price-tag {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    margin: 0 auto;
}

table button:hover {
    background-color: #0199e6;
    color: #fff;
    cursor: pointer;
    border: 1px solid #0199e6;
}

.feedback {
    height: 100vh;
    min-height: 600px;
}

.feedback h2 {
    color: #323232;
    font-size: 3.5rem;
    text-align: center;
    position: relative;
    margin-top: 8rem;
}

.feedback>p {
    font-size: 1.7rem;
    color: #727272;
    text-align: center;
    margin-bottom: 7rem;
}

.brands {
    width: 60%;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: space-around;
    -ms-align-items: center;
    align-items: center;
}

.reviews {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    -ms-align-items: center;
    align-items: center;
    margin: 0 auto;
}

.reviewer{
    width: 30%;
    margin-top: 7rem;
    text-align: center;
    font-size: 1.3rem;
    color: #727272;
}

.review-cite {
    background-color: #f7f8fa;
    position: relative;
    padding: 5rem 2rem 2rem 2rem;
    font-size: 1.7rem;
    color: #727272;
    text-align: center;
}

.review-cite img {
    position: absolute;
    left: 45%;
    top: -2rem;
}

.name-reviewer {
    font-size: 1.6rem;
    color: #0199e6;
    padding-bottom: 2rem;
}

.call-to-started {
    position: relative;
    background: url(img/footer-bg.png) no-repeat center;
    height: 60vh;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #fff;
    z-index: 1;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}

.call-to-started h3 {
    position: relative;
    z-index: 1;
    font-size: 2rem;
}

.call-to-started h2 {
    position: relative;
    z-index: 1;
    font-size: 3.5rem;
}

.call-to-started button {
    position: relative;
    z-index: 1;
    color: #fff;
    background-color: #008ed6;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border: 1px solid #008ed6;
    border-radius: 2px;
}

.call-to-started button i {
    font-weight: 300;
}

.mail-contacts {
    height: 30vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}

.mail-contacts h3 {
    font-size: 2.4rem;
}

.mail-contacts a {
    color: #008ed6;
    font-size: 1.7rem;
    text-decoration: none;
    font-weight: 700;
}

.mail-contacts a i {
    margin-right: 1rem;
}

.footer {
    height: 30vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    background-color: #f7f8fa;
}

.footer-logo {
    font-size: 3.5rem;
    font-family: 'Walkway', sans-serif;
    color: #323232;
    margin-bottom: 0;
}

.footer-logo span {
    text-transform: uppercase;
    color: #008ed6;
}

.copyright {
    font-size: 1.6rem;
    color: #919191;
}

.footer-social-links i {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #919191;
    color: #fff;
    font-size: 1.5rem;
    line-height: 2.5rem;
    vertical-align: center;
    text-align: center;
    border-radius: 5px;
}